*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2VhJTIwYmVhY2h8ZW58MHx8MHx8&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.container{
    padding: 20px 70px;
    color: white;
}

.current_info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date_container{
    font-weight: 100;
}

.date_container .time{
    font-size: 70px;

}

.date_container #am_pm{
    font-size: 30px;
    margin-left: 20px;
}

.date_container .date{
    font-size: 30px;
}

.country{
    text-align: end;
}

.place_container .time_zone{
    font-size: 30px;
    font-weight: 100;

}

.place_container .country{
    font-size: 12px;
    font-weight: 1000;
    
}

.current_info .others{
    display: flex;
    flex-direction: column;
    background: rgba(24,24,27, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
}

.current_info .others .weather_item{
    display: flex;
    justify-content: space-between;
}

.future_forecast{
    background:rgba(24, 24, 27, 0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.future_forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;

}

.future_forecast .today .day{
    padding: 5px 15px;
    background-color: green;
    border-radius: 50px;
    text-align: center;
}

.future_forecast .today .temp{
    font-size: 20px;
    padding: 15px;
}

.future_forecast .weather_forecast{
    display: flex;
    padding: 20px;

}

.weather_forecast .weather_forecast_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border-radius: 1px solid white;
}

.day{
    padding: 5px 15px;
    background-color: green;
    border-radius: 50px;
    text-align: center;
}
.weather_forecast{
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 10%;
    margin: 15px;
}

.today{
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 10%;
    margin: 15px;
    padding: 10px;
}

@media only screen and (max-width:730px){
    .future_forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 1000px){
    .future_forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
}